/* Absolute panel gauche du network */
#abspanel_left {
  /* Appearance */
  border-style: none;
  background-color: transparent;
  padding: 20px 20px 20px 20px;
  cursor: move;
  opacity: 0.85;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

/* Absolute panel droite du network */
#abspanel_right {
  /* Appearance */
  background-color: white;
  padding: 20px 20px 20px 20px;
  cursor: move;
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#abspanel_right:hover {
  opacity: 0.35;
  transition-delay: 0;
}

/* Carte */
#map {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-top: 115px;
	margin-bottom: 250px;
	overflow: auto;
}

/* Absolute panel gauche de la carto */
#abspanel_map_left {
  /* Appearance */
  border-style: none;
  background-color: transparent;
  padding: 0px 0px 0px 0px;
  cursor: move;
  opacity: 0.9;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}

/* Absolute panel bottom de la carto */
#abspanel_map_bottom {
  /* Appearance */
  border-style: none;
  background-color: transparent;
}

/* player carto */
#abspanel_map_bottom_player {
  background-color: transparent;
  display: inline-block;
  border-style: none;
}
/* club carto */
#abspanel_map_bottom_club {
  background-color: transparent;
  display: inline-block;
  border-style: none;
}
/* season carto */
#abspanel_map_bottom_season {
  background-color: transparent;
  display: inline-block;
  border-style: none;
}
/* menus déroulants */
.dropdown-menu.inner {
  max-height: 200px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.bootstrap-select.dropdown-menu.inner {
  margin-bottom: 0px;
}

.leaflet-control-layers-list.leaflet-control-layers-scrollbar {
  height: 300px !important;
}

/* Barre horizontale contenant les onglets */
.navbar-default {
	margin-left: -15px;
	margin-right: -15px;
}

/* Réseau en lui-même */
.visNetwork {
	position: fixed;
	left: 0;
	top: 110px;
	right: 0;
	bottom: -80px;
}

/* Marge de la carte leaflet */
.leaflet-top {
	padding-top : 20px;
}

/* Titre principal */
.grandtitre {
  text-align:center;
  margin-left: -15px;
  margin-right: -15px;
}

/* Table joueurs */
#DataTables_Table_0 thead tr {
  background-color: #3e3f3a;
  color: white;
}

/* SliderInput : Box de la valeur minimale */
.irs-from {
  background-color: #3e3f3a;
}

/* SliderInput : Box de la valeur maximale */
.irs-to {
  background-color: #3e3f3a;
}

/* SliderInput : Box lorsque les deux valeurs sont ensemble*/
.irs-single {
  background-color: #3e3f3a;
  border-color: #3e3f3a;
}

/* SliderInput : barre (auparavant bleue) de la jauge */
.irs-bar {
  background-color: #3e3f3a;
  border-color: #3e3f3a;
}

/* Table des postes transférés du network */
.table.shiny-table.table-.spacing-s {
  background-color: #3e3f3a;
  color : #ffffff;
}

/* Fiche joueur (bsmodal) */
.modal-content {
  background-color: #e7ddc4;
}