/* Carte */
#map {
	position: fixed;
	top: 50px;
	left: 0px;
	bottom: -15px;
	right: 0px;
  width: 100%;
	overflow: hidden;
}

.leaflet-top .leaflet-right {
  padding-top: 6px;
}

/* menus déroulants */
#div_choix_variable_map .selectize-dropdown-content {
  min-height: 450px;
}

.content {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: -15px;
}

#abspanel_map_left {
  margin-left: 10px;
  padding: 15px;
}

.irs-bar {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: transparent;
}
.irs-bar-edge {
    border: 1px solid transparent;
    background: transparent;
}

#legend_fluidrow > .row {
  width: 430px;
}

#legend_switch {
  padding-top: 37px;
}

/* Barre horizontale */

.skin-blue .main-header .navbar{
  background-color: #15354a;
}

.main-header .logo {
  padding-left: 0px;
  padding-right: 0px;
}

.main-header:hover .logo:hover {
  background-color: #15354a;
}

.skin-blue .main-header .logo {
  background-color: #15354a;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper{
  background-color: #022833;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #000000;
}