/* Carte */
#map {
	position: fixed;
	top: 50px;
	left: 0px;
	bottom: -15px;
	right: 0px;
  width: 100%;
	overflow: hidden;
}

.leaflet-top .leaflet-left {
  padding-top: 6px;

}

/* menus deroulants */
#div_choix_variable_1_map .selectize-dropdown-content {
  min-height: 450px;
}

.content {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: -15px;
}

#abspanel_map_left {
  margin-left: 10px;
  padding: 15px;
}

.irs-bar {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background: transparent;
}
.irs-bar-edge {
    border: 1px solid transparent;
    background: transparent;
}

#legend_fluidrow > .row {
  width: 500px;
}

/*#legend_switch_var2_map {
  padding-top: 37px;
}
#legend_switch_periode_map {
  padding-top: 37px;
}*/

/* Barre horizontale */

.skin-blue .main-header .navbar{
  background-color: #15354a;
}

.main-header .logo {
  padding-left: 0px;
  padding-right: 0px;
}

.main-header:hover .logo:hover {
  background-color: #15354a;
}

.skin-blue .main-header .logo {
  background-color: #15354a;
}

.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper{
  background-color: #022833;
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
  background-color: #000000;
}

#abspanel_map_bot {
  margin-left: 30px;
  padding: 0px;
  background-color: transparent;
  border-color: transparent;
}

#abspanel_map_right_button {
  background-color: transparent;
  border-color: transparent;
  border: 0px;
}

#abspanel_map_right {
  background-color: white;
  border-color: gray;
  padding: 10px;
}

#infoplus {
  padding: 4px; 
}

.fa.fa-plus-circle {
  font-size: 25px;
  line-height: 1.1;
}

.fa.fa-file-pdf {
  font-size: 20px;
  line-height: 1.1;
}

#abspanel_map_bot_inside {
  position: relative;
}
/*.dropdown-shinyWidgets {
  border: 0px !important;
  background-color: transparent !important;
}*/


#abspanel_ts_left {
  margin-top: 5px;
  padding-top: 15px;
  padding-left: 15px;
}

#premier_fluidrow_stat {
  margin-top: 15px;
  margin-right: 15px;
}

#deuxieme_fluidrow_stat {
  margin-right: 15px;
}

#parametre_ts_stat {
  padding-top : 30px;
  padding-left : 5px;
}

#box_plotly_ts {
  margin-top : 15px;
  margin-left :-15px;
}

#box_plotly_scatter {
  margin-top : 15px;
  margin-left :-15px;
}

#pdf_col1_stats_scatter_plot {
  width: 1210px;
}

#panel_pdf1_stats_comparison {
  margin-top: -5px;
}

#panel_pdf2_stats_comparison {
  margin-top: -5px;
}

.fa.fa-database {
  margin-top: 6px;
  margin-bottom: 6px;
}

#data_button_stats_time_series {
  float: left;
  z-index: 90;
  position: relative;
  margin-right: 15px;
}

#data_button_stats_scatter_plot {
  float: left;
  margin-right: -15px;
}

.inner.open {
  max-height: 300px !important;
}

#homepage_contents {
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

/*.content-wrapper {
  min-height: 1300px !important;
}*/